[build]
  command = "npm run build"
  publish = ".next"
  functions = "netlify/functions"
  environment = { NODE_VERSION = "18" }

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"
