.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.navbar ul {
  display: flex;
  gap: 24px;
}

.navbar li {
  list-style: none;
  cursor: pointer;
}

.navbar li:hover {
  color: #2563eb;
}

.logo {
  height: 40px;
}
